
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  line height: 24px;
  margin-bottom: 32px

}
   
.button {
    display: block;
    width: 100px;
    margin: 12px 0px;
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    background: black;
    background: -moz-linear-gradient(top, grey 0%, black 100%);
    background: -webkit-linear-gradient(top, grey 0%, black 100%);
    box-shadow: 1px 1px green; 
    
}

